<style type="text/css">
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }

    #spinner{
        position:absolute;
        left:50%;
        top:45%;
        color:#a6ff18;
    }
</style>
<script>
    var LoadingSpinner = {
        Show: function (show) {
        if (show) {
            document.getElementById("overlay").style.display = "block";
        }
        else
            document.getElementById("overlay").style.display = "none";
        }
    }
     
</script>
<div id="overlay"><i class="fas fa-circle-notch fa-spin fa-5x" id="spinner"></i></div>
