
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Survey-Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/bootstrap-slider.min.js" type="text/javascript"></script>

<style type="text/css">

    .survey .question1 *,
    .survey .question2 *,
    .survey .question3 * {
        font-size: large;
    }

    .survey .question1 input,
    .survey .question2 input {
        margin-right: 5px;
        vertical-align: top;
    }

    .survey .question1 span,
    .survey .question2 span {
        margin-right: 15px;
    }

</style>

<script type="text/javascript">

    $(document).ready(function () {
        var mySlider = $("ex19").slider();
    });

</script>

<br />
<div class="survey">

    <div class="form-group">
        <label>1) Which of these is the most important for you to experience during college?</label>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="q1-success" value="option1" checked>
            <label class="form-check-label" for="q1-success">
                Success
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="q1-friendships" value="option2">
            <label class="form-check-label" for="q1-friendships">
                Friendships
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="q1-fun" value="option2">
            <label class="form-check-label" for="q1-fun">
                Fun
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="q1-fulfillment" value="option2">
            <label class="form-check-label" for="q1-fulfillment">
                Fulfillment
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="question1" id="q1-love" value="option2">
            <label class="form-check-label" for="q1-love">
                Love
            </label>
        </div>
    </div>

    


    <div class="form-group">
        <div><label for="ex19">2) On a scale from 1-10 how important is the spiritual area of your life?</label></div>

        <input id="ex19" type="text" class="form-control" style="width:100%;"
               data-provide="slider"
               data-slider-ticks="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
               data-slider-ticks-labels='["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]'
               data-slider-min="1"
               data-slider-max="10"
               data-slider-step="1"
               data-slider-value="5"
               data-slider-tooltip="hide" />

        @*<div class="radio"><label><input id="1" type="radio" name="spiritualArea" value="1" />1</label></div>
            <div class="radio"><label><input id="2" type="radio" name="spiritualArea" value="2" />2</label></div>
            <div class="radio"><label><input id="3" type="radio" name="spiritualArea" value="3" />3</label></div>
            <div class="radio"><label><input id="4" type="radio" name="spiritualArea" value="4" />4</label></div>
            <div class="radio"><label><input id="5" type="radio" name="spiritualArea" value="5" />5</label></div>
            <div class="radio"><label><input id="6" type="radio" name="spiritualArea" value="6" />6</label></div>
            <div class="radio"><label><input id="7" type="radio" name="spiritualArea" value="7" />7</label></div>
            <div class="radio"><label><input id="8" type="radio" name="spiritualArea" value="8" />8</label></div>
            <div class="radio"><label><input id="9" type="radio" name="spiritualArea" value="9" />9</label></div>
            <div class="radio"><label><input id="10" type="radio" name="spiritualArea" value="10" />10</label></div>*@

    </div>


    <div class="checkbox form-group">
        <label for="subscribe"><input type="checkbox" id="subscribe">I am interested in hearing more about Driven Student Ministry:</label>
    </div>

    <div class="form-group">
        <label for="fName">First Name:</label>
        <input type="text" class="form-control" id="fName">
    </div>

    <div class="form-group">
        <label for="LName">Last Name:</label>
        <input type="text" class="form-control" id="LName">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone">
    </div>

    <button class="btn">Submit</button>
</div>