@model List<CORI.IO.Models.Contact>

@{
    ViewData["Title"] = "MyContacts";
}

<h2>MyContacts</h2>

<script type="text/javascript">


    $(document).ready(function () {
        $("#contactsSelect").change(function () {

            $.ajax({
                url: "@Url.Action("GetContactDataView", "Survey")",
                type: "GET",
                data: { contactData: $("#contactsSelect").val() }
            }).done(function (partialViewResult) {
                $("#partialContact").html(partialViewResult);
            });
        });
    });

</script>

<div class="form-group">
    <select class="form-control" id="contactsSelect" style="width:250px;">
        <option value="1">My Contacts</option>
        <option value="2">All Contacts</option>
    </select>
</div>

<div id="partialContact">
    @await Html.PartialAsync("ContactData", Model)
</div>