@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .homePage .btn{
        margin-top:5px;
        width:100%;
    }

</style>

<div class="row homePage" style="margin-top:10px;">


    <div class="col-md-2" ><i class="fa fa-robot"></i></div>
    @*<img class="col-md-2" src="~/images/cori-3.png" />*@
    <div class="col-md-8">
        <a asp-action="Survey" asp-controller="Survey" target="_blank"><input type="button" class="btn btn-default" style="display:block;" value="30 Second Survey"></a>
        <a asp-action="MyContacts" asp-controller="Survey"><input type="button" class="btn btn-default" style="display:block;" value="My Contacts"></a>
    </div>


</div>