@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .homePage .btn{
        margin-top:5px;
        width:100%;
    }

</style>

<div class="row homePage" style="margin-top:10px;">


    <img class="col-md-2" src="~/images/cori-3.png" />
    <div class="col-md-8">
        <button class="btn btn-default" style="display:block;">60 Second Survey</button>
        <button class="btn btn-default" style="display:block;">My Contacts</button>
    </div>
    

</div>