@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .homePage .btn{
        margin-top:5px;
        width:100%;
    }

</style>

<div class="row homePage" style="margin-top:10px;">


    <img class="col-md-2" src="~/images/cori-3.png" />
    <div class="col-md-8">
        <a asp-action="Survey" asp-controller="Survey" target="_blank"><input type="button" class="btn btn-default" style="display:block;" value="30 Second Survey"></a>
        <button class="btn btn-default" style="display:block;" disabled>My Contacts</button>
    </div>
    

</div>